#chat {
	display:		block;
	position:		fixed;
	bottom:			0;
	right:			0;
	height:			240px;
	width:			400px;
	background:		rgba(34, 34, 34, 0.75);
	border-top-left-radius:12px;
	border-top:		1px solid #222;
	border-left:	1px solid #222;
	overflow:		hidden;
	z-index:		100;
}
#chat > #chat_text_wrapper {
	display:		block;
	position: 		absolute;
	top:			0;
	height:			100%;
	width:			100%;
	padding-bottom:	42px;
}
#chat_text_wrapper > #chat_text {
	display:		block;
	height:			100%;
	width:			100%;
	background:		rgba(255,255,255,0.5);
	box-shadow:		inset 0 0 16px #222, inset 0 0 8px #222, inset 0 0 1px #222;
	color:			black;
	text-align:		left;
	overflow-x:		hidden;
	overflow-y:		hidden|scroll;
	padding:		8px;
}

#chat > #chat_input {
	display:		block;
	position: 		absolute;
	bottom:			16px;
	width:			100%;
	height:			24px;
	padding: 		2px 6px 2px 6px;
	margin:			0;
	border:			0;
	background:		rgba(255,255,255,0.5);
	box-shadow:		inset 0 0 16px #222, inset 0 0 8px #222, inset 0 0 1px #222;
	color:			black;
}

#chat > #chat_status {
	display:		block;
	position: 		absolute;
	font-size: 		11px;
	font-family: 	"Lucida Console", Monaco, monospace;
	bottom:			0;
	width:			100%;
	text-shadow:	1px 0 0 black, -1px 0 0 black, 0 -1px 0 black, 0 1px 0 black;
}

#chat_toggle {
	display:		block;
	position:		fixed;
	font-size: 		11px;
	font-family: 	"Lucida Console", Monaco, monospace;
	bottom:			0;
	right:			0;
	width:			128px;
	height:			16px;
	text-shadow:	1px 0 0 black, -1px 0 0 black, 0 -1px 0 black, 0 1px 0 black;
	background:		rgba(255,255,255,0.5);
	box-shadow:		inset 0 0 16px #222, inset 0 0 8px #222, inset 0 0 1px #222;
	border-radius:	6px;
	text-align: 	center;
	cursor:			pointer;
	color:			white;
	z-index:		101;
}
